In [1]:
# Import the dependencies

import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

# Store the CSV you saved created in part one into a DataFrame

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Westport,US,2022-10-25 22:45:15,41.1415,-73.3579,69.57,92,100,9.22
1,1,Sabang,ID,2022-10-25 22:46:21,5.8933,95.3214,80.91,79,94,11.05
2,2,Lagoa,PT,2022-10-25 22:46:21,39.0500,-27.9833,62.78,68,21,22.39
3,3,Hithadhoo,MV,2022-10-25 22:46:21,-0.6000,73.0833,82.38,72,36,12.19
4,4,Taiyuan,CN,2022-10-25 22:45:04,37.8694,112.5603,48.06,76,0,2.24

In [2]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 15
What is the maximum temperature you would like for your trip? 85

In [9]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& \
                                      (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Westport,US,2022-10-25 22:45:15,41.1415,-73.3579,69.57,92,100,9.22
1,1,Sabang,ID,2022-10-25 22:46:21,5.8933,95.3214,80.91,79,94,11.05
2,2,Lagoa,PT,2022-10-25 22:46:21,39.0500,-27.9833,62.78,68,21,22.39
3,3,Hithadhoo,MV,2022-10-25 22:46:21,-0.6000,73.0833,82.38,72,36,12.19
4,4,Taiyuan,CN,2022-10-25 22:45:04,37.8694,112.5603,48.06,76,0,2.24
5,5,Krabi,TH,2022-10-25 22:46:22,8.0726,98.9105,77.20,100,20,2.30
6,6,Ribeira Grande,PT,2022-10-25 22:46:22,38.5167,-28.7000,61.77,70,88,4.00
7,7,Victoria,HK,2022-10-25 22:43:55,22.2855,114.1577,72.32,72,98,13.00
8,8,Kapaa,US,2022-10-25 22:46:23,22.0752,-159.3190,84.52,72,20,17.27
9,9,Ushuaia,AR,2022-10-25 22:46:24,-54.8000,-68.3000,49.66,37,75,11.50

In [10]:
preferred_cities_df.count()

City_ID       545
City          545
Country       540
Date          545
Lat           545
Lng           545
Max Temp      545
Humidity      545
Cloudiness    545
Wind Speed    545
dtype: int64

In [11]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0        Westport      US     69.57  41.1415  -73.3579
1          Sabang      ID     80.91   5.8933   95.3214
2           Lagoa      PT     62.78  39.0500  -27.9833
3       Hithadhoo      MV     82.38  -0.6000   73.0833
4         Taiyuan      CN     48.06  37.8694  112.5603
5           Krabi      TH     77.20   8.0726   98.9105
6  Ribeira Grande      PT     61.77  38.5167  -28.7000
7        Victoria      HK     72.32  22.2855  114.1577
8           Kapaa      US     84.52  22.0752 -159.3190
9         Ushuaia      AR     49.66 -54.8000  -68.3000

In [12]:
# Set parameters to search for a hotel.
params ={
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for the params dictionary
    
    params["location"]=f'{lat},{lng}'
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the JSON data form the search
    hotels = requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Westport,US,69.57,41.1415,-73.3579,The Westport Inn
1,Sabang,ID,80.91,5.8933,95.3214,Hotel Citra
2,Lagoa,PT,62.78,39.0500,-27.9833,Casa Das Faias
3,Hithadhoo,MV,82.38,-0.6000,73.0833,Scoop Guest House
4,Taiyuan,CN,48.06,37.8694,112.5603,Taiyuan Wanda Wenhua Hotel
5,Krabi,TH,77.20,8.0726,98.9105,Tharapark View Hotel
6,Ribeira Grande,PT,61.77,38.5167,-28.7000,Quinta da Meia Eira
7,Victoria,HK,72.32,22.2855,114.1577,Mini Central
8,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Ushuaia,AR,49.66,-54.8000,-68.3000,Albatross Hotel

In [14]:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))