# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from Config2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Asau,RO,46.4333,26.4000,40.12,84,95,5.68,overcast clouds
1,1,Kangaatsiaq,GL,68.3065,-53.4641,37.65,96,100,5.86,light rain
2,2,Busselton,AU,-33.6500,115.3333,53.67,74,100,12.82,overcast clouds
3,3,Kaitangata,NZ,-46.2817,169.8464,68.31,59,77,6.15,broken clouds
4,4,Cape Town,ZA,-33.9258,18.4232,66.11,76,0,10.36,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 75

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& \
                                      (city_data_df["Max Temp"]>= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Asau,RO,46.4333,26.4000,40.12,84,95,5.68,overcast clouds
1,1,Kangaatsiaq,GL,68.3065,-53.4641,37.65,96,100,5.86,light rain
2,2,Busselton,AU,-33.6500,115.3333,53.67,74,100,12.82,overcast clouds
3,3,Kaitangata,NZ,-46.2817,169.8464,68.31,59,77,6.15,broken clouds
4,4,Cape Town,ZA,-33.9258,18.4232,66.11,76,0,10.36,clear sky
5,5,Ilulissat,GL,69.2167,-51.1000,35.22,100,100,3.40,light snow
6,6,Ivanava,BY,52.1451,25.5365,50.07,93,32,6.67,scattered clouds
10,10,Rikitea,PF,-23.1203,-134.9692,74.05,78,99,10.56,overcast clouds
11,11,Ushuaia,AR,-54.8000,-68.3000,29.57,92,73,2.64,broken clouds
13,13,Bredasdorp,ZA,-34.5322,20.0403,60.96,81,99,10.98,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
preferred_cities_df.count()

City_ID                472
City                   472
Country                466
Lat                    472
Lng                    472
Max Temp               472
Humidity               472
Cloudiness             472
Wind Speed             472
Current Description    472
dtype: int64

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.count()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Asau,RO,46.4333,26.4000,40.12,84,95,5.68,overcast clouds
1,1,Kangaatsiaq,GL,68.3065,-53.4641,37.65,96,100,5.86,light rain
2,2,Busselton,AU,-33.6500,115.3333,53.67,74,100,12.82,overcast clouds
3,3,Kaitangata,NZ,-46.2817,169.8464,68.31,59,77,6.15,broken clouds
4,4,Cape Town,ZA,-33.9258,18.4232,66.11,76,0,10.36,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

          City Country  Max Temp Current Description      Lat       Lng
0         Asau      RO     40.12     overcast clouds  46.4333   26.4000
1  Kangaatsiaq      GL     37.65          light rain  68.3065  -53.4641
2    Busselton      AU     53.67     overcast clouds -33.6500  115.3333
3   Kaitangata      NZ     68.31       broken clouds -46.2817  169.8464
4    Cape Town      ZA     66.11           clear sky -33.9258   18.4232

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]= ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Asau,RO,40.12,overcast clouds,46.4333,26.4000,
1,Kangaatsiaq,GL,37.65,light rain,68.3065,-53.4641,
2,Busselton,AU,53.67,overcast clouds,-33.6500,115.3333,
3,Kaitangata,NZ,68.31,broken clouds,-46.2817,169.8464,
4,Cape Town,ZA,66.11,clear sky,-33.9258,18.4232,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Asau,RO,40.12,overcast clouds,46.4333,26.4000,Casa Mika Ciobanus
1,Kangaatsiaq,GL,37.65,light rain,68.3065,-53.4641,Nukissiorfiit
2,Busselton,AU,53.67,overcast clouds,-33.6500,115.3333,Observatory Guest House
3,Kaitangata,NZ,68.31,broken clouds,-46.2817,169.8464,Kaitangata Motor Camp
4,Cape Town,ZA,66.11,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
5,Ilulissat,GL,35.22,light snow,69.2167,-51.1000,Hotel Arctic
6,Ivanava,BY,50.07,scattered clouds,52.1451,25.5365,Bed&Breakfast Valeria
10,Rikitea,PF,74.05,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Ushuaia,AR,29.57,broken clouds,-54.8000,-68.3000,Albatross Hotel
13,Bredasdorp,ZA,60.96,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [15]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Asau,RO,40.12,overcast clouds,46.4333,26.4000,Casa Mika Ciobanus
1,Kangaatsiaq,GL,37.65,light rain,68.3065,-53.4641,Nukissiorfiit
2,Busselton,AU,53.67,overcast clouds,-33.6500,115.3333,Observatory Guest House
3,Kaitangata,NZ,68.31,broken clouds,-46.2817,169.8464,Kaitangata Motor Camp
4,Cape Town,ZA,66.11,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [16]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [17]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [18]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Casa Mika Ciobanus</dd>\n<dt>City</dt><dd>Asau</dd>\n<dt>Country</dt><dd>RO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 40.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nukissiorfiit</dd>\n<dt>City</dt><dd>Kangaatsiaq</dd>\n<dt>Country</dt><dd>GL</dd>\n<dt>Current Weather</dt><dd>light rain and 37.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 53.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kaitangata Motor Camp</dd>\n<dt>City</dt><dd>Kaitangata</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>broken clouds and 68.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 66.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Arctic</dd>\n<dt>City</dt><dd>Ilulissat</dd>\n<dt>Country</dt><dd>GL</dd>\n<dt>Current Weather</dt><dd>light snow and 35.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bed&Breakfast Valeria</dd>\n<dt>City</dt><dd>Ivanava</dd>\n<dt>Country</dt><dd>BY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 50.07 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 29.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 60.96 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   46.4333   26.4000
1   68.3065  -53.4641
2  -33.6500  115.3333
3  -46.2817  169.8464
4  -33.9258   18.4232
5   69.2167  -51.1000
6   52.1451   25.5365
10 -23.1203 -134.9692
11 -54.8000  -68.3000
13 -34.5322   20.0403

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [21]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))